.row
  %aside.span4
    %section
      = render 'shared/user_info', current_user: current_user
    %section
      = render 'shared/stats'
    %section
      = render 'shared/micropost_form'
  .span8
    %h3 Micropost Feed
    = render 'shared/feed'
